* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.hide {
    display: none;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 800px;
    height: 300px;
    max-width: 80%;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
}

#answer-buttons {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

#answer-buttons button{
    font-size: 25px;
}

.start-btn button{
    font-size: 40px;
    color: crimson;
    background-color: lightgrey;
    padding: 10px 10px;
    border-radius: 5px;
    
}

.start-btn button:hover{
    color:darkred;
}

.btn {
    color: crimson;
    background: lightgrey;
    border-radius: 5px;
    padding: 5px 8px;
}

.btn:hover{
    color:darkred;
}

#question {
    font-size: 40px;
}

.controller {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules-box {
    font-size: 16px;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rules-title {
    padding: 10px 0;
    border-bottom: 2px solid black;
    font-size: 30px;
}

.rules-list-ready {
    margin-top: 10px;
    text-align: center;
    font-size: 18px; 
    font-weight: bold;
}

.rules-list-ready span, .rules-list span{
    color: crimson;
    font-weight: bolder;
    text-decoration: underline 2px crimson;
}